<a href="https://colab.research.google.com/github/kumidayo/Prmn2023a/blob/main/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [ ]:
# 入力用
import random
number_list=[]
for i in range (5):
  student_number=2220000+random.randrange(10,2801,10)
  number_list.append(student_number)
print(number_list)

[2220430, 2220890, 2221790, 2221630, 2220340]

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [ ]:
# 入力用
import random
num_list=[]
odd_list=[]
for i in range (5):
  num_list.append(random.randrange(1,6))
  odd_list.append(2*random.randrange(1,6)-1)
print(num_list)
print(odd_list)
add_list=[]
for i in range (5):
  add_list.append(num_list[i]+odd_list[i])
print(add_list)

[1, 5, 4, 4, 2]
[5, 9, 7, 1, 1]
[6, 14, 11, 5, 3]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [ ]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [8]:
# 入力用7
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

import random
random.shuffle(todohuken_list)

list=[]
print(todohuken_list)
for i in range (0,12,1):
  list.append(todohuken_list[4*i:4*(i+1)])
print(list)

['岡山県', '熊本県', '福岡県', '山梨県', '長崎県', '大分県', '福島県', '三重県', '佐賀県', '徳島県', '島根県', '新潟県', '群馬県', '千葉県', '宮城県', '愛知県', '香川県', '富山県', '長野県', '鳥取県', '広島県', '栃木県', '鹿児島県', '北海道', '愛媛県', '石川県', '茨城県', '神奈川県', '福井県', '秋田県', '宮崎県', '大阪府', '岐阜県', '東京都', '青森県', '山口県', '岩手県', '和歌山県', '静岡県', '山形県', '奈良県', '滋賀県', '埼玉県', '京都府', '兵庫県', '高知県', '沖縄県']
[['岡山県', '熊本県', '福岡県', '山梨県'], ['長崎県', '大分県', '福島県', '三重県'], ['佐賀県', '徳島県', '島根県', '新潟県'], ['群馬県', '千葉県', '宮城県', '愛知県'], ['香川県', '富山県', '長野県', '鳥取県'], ['広島県', '栃木県', '鹿児島県', '北海道'], ['愛媛県', '石川県', '茨城県', '神奈川県'], ['福井県', '秋田県', '宮崎県', '大阪府'], ['岐阜県', '東京都', '青森県', '山口県'], ['岩手県', '和歌山県', '静岡県', '山形県'], ['奈良県', '滋賀県', '埼玉県', '京都府'], ['兵庫県', '高知県', '沖縄県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [36]:
# 入力用
university_list = [
    "Chitose,25,600",
    "Hokudai,105,300",
    "Muroran,74,400",
    "Hakodate,23,500",
]
num_list=sorted(university_list, key=lambda x:int(x.split(",")[1]))
print(num_list)

['Hakodate,23,500', 'Chitose,25,600', 'Muroran,74,400', 'Hokudai,105,300']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [43]:
# 入力用
import random
Fizz_list=[]
Buzz_list=[]
FB_list=[]
O_list=[]
for i in range(1,101):
  if i%15==0:
    FB_list.append(i)
  elif i%3==0:
    Fizz_list.append(i)
  elif i%5==0:
    Buzz_list.append(i)
  else:
    O_list.append(i)
print("Fizz",len(Fizz_list))
print("Buzz",len(Buzz_list))
print("FizzBuzz",len(FB_list))
print("Others",len(O_list))

Fizz 27
Buzz 14
FizzBuzz 6
Others 53